doctype 5
html
   head
      title
         block title

      block styles
         != css("skin")
         != css("pages/slides")

      block scripts
         != js("lib/jquery")
         != js("skin")

      script(type="text/javascript")
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-33498764-1']);
         _gaq.push(['_trackPageview']);

         (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

   - var viewDir = locals.root + "/";
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "");
   - var viewClass = view.replace(/\//g, "-");
   body(class=viewClass)
      block body
         .nav
            a(href="/").about About
            if authenticated
               a(href="/events").events Events
               a(href="/logout").logout Logout

            if !authenticated
               a(href="/login?redirectUri=/events").login Login

      p.issues <strong>Find a bug?</strong> <a href="http://github.com/adunkman/preetup/issues">Create an issue</a> on github and I&rsquo;ll try to get it fixed ASAP!
