doctype 5
html
   head
      title
         block title

      block styles
         != css("skin")
         != css("pages/about")

      block scripts
         != js("lib/jquery")
         != js("skin")

   - var viewDir = locals.root + "/";
   - var view = locals.filename.replace(viewDir, "").replace(".jade", "");
   - var viewClass = view.replace(/\//g, "-");
   body(class=viewClass)
      block body
         .nav
            a(href="/").about About
            if authenticated
               a(href="/events").events Events
               a(href="/logout").logout Logout

            if !authenticated
               a(href="/login").login Login