.event-slides
   background-color: #000
   max-width: none
   padding: 0
   color: #fff

   .issues
      display: none

   h1
      margin: 0
      padding: 4px 20px 10px 20px

      background-color: #E51937

      p
         margin: 0
         font-size: 0.7em
         font-weight: normal
         line-height: 1.4em
         color: #F9D1D7

         .separator
            color: #F5ACB7

   ul, dl, dt, dd
      margin: 0
      padding: 0

      li
         list-style-type: none

   .slide
      image-width = 240px

      padding: 20px

      .side
         float: left
         width: image-width

         img
            display: block
            width: image-width
            border-radius: 10px

         .img-placeholder
            display: block
            width: image-width
            padding: ((image-width - 100px)/2) 0

            border-radius: 10px
            background-color: #333

            color: #444
            text-align: center
            font-size: 100px
            line-height: 100px

         .tweet
            padding-top: 20px
            width: image-width
            overflow: hidden
            text-overflow: ellipsis

            h3
               margin: 0
               text-overflow: ellipsis
               overflow: hidden
               white-space: nowrap

      .text
         margin-left: image-width+20px

      h2
         margin: 0
         font-size: 2.2em

         .twitter.icon
         .facebook.icon
         .linkedin.icon
            width: 50px
            height: 50px
            float: right
            margin-left: 10px
            border-radius: 5px
            opacity: 0.7
            background: no-repeat center center

            &.facebook
               background-image: url("/services/facebook.png")

            &.twitter
               background-image: url("/services/twitter.png")

            &.linkedin
               background-image: url("/services/linkedin.png")

         .twitter-handle
            font-size: 0.6em
            font-weight: normal
            color: #999

      .comments
         font-size: 1.5em
         line-height: 1.4em

         color: #999

      .question
         margin-top: 30px
         font-size: 1.5em
         line-height: 1.4em

         color: #999

      .answer
         font-size: 1.9em
         line-height: 1.4em