html
   border-top: 6px #E51937 solid

body
   margin: 0 auto
   padding: 0 20px 20px 20px

   max-width: 40em

   color: #222

   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
   line-height: 1.4em

h1, h2, h3
   margin: 40px 0 0 0
   line-height: 1.4em

h1
   font-weight: bold
   font-size: 2em

h2
   font-weight: bold
   font-size: 1.4em

p
   margin: 0 0 20px 0

a
   color: #E51937

   &:hover
      color: #F30B19

::selection
   background-color: #E51937
   color: #fff

.nav
   margin-bottom: 40px

   a
      display: inline-block
      padding: 10px 20px

      &:hover
         background-color: #FDEAED

      &.login
      &.logout
         float: right

.about-preetup .nav a.about
.event-list .nav a.events
   background-color: #E51937
   color: #fff