extends ../layout

block title
   | About &bull; Preetup

block append body
   h1 About Preetup

   p Easy generation of a pre-meetup slideshow featuring members of your <a href="http://meetup.com">Meetup</a> group.
   p <strong>Just how easy is easy?</strong> Once you&rsquo;ve <a href="/login?redirectUri=/events">logged in</a> using your Meetup group, just select an event and we&rsquo;ll start a looping slideshow of members that have RSVP&rsquo;d to that event.
   p If you are an organizer or assistant organizer of your Meetup group, your slides will include answers that your members answered when RSVPing.
