extends ../layout

block title
   | Events &bull; Preetup

block append body
   each event in results
      h2: a(href="/#{event.group.urlname}/events/#{event.id}")= event.name
      != event.description
