extends ../layout

block title
   | events - preetup

block append body
   h1 Your events

   ul: each event in results
      li
         a(href="/#{event.group.urlname}/events/#{event.id}")= event.name
         != event.description